<style type="text/css">
  
</style>
<body>
  <center><h1><font size="20">New Article</font></h1></center>
<%= form_for @article,url: author_articles_path, local: true do |form| %>

<% if @article.errors.any? %>
    <div id="error_explanation">
      <center>
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      
      
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      
    
      </center>
    </div>
  <% end %>

  <p><center><font size="6">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    </font></center>
  </p>
 
  <p><center><font size="6">
    <%= form.label :text %><br>
    <%= form.text_area :text %>
    </font></center>
  </p>

  <p><center><font size="6">
    <%= form.collection_select :aut_name, Author.all, :author_name, :author_name %>
  </font></center>
</p>

  <p><center><font>
    <%= form.submit :style => 'padding-top: 14px'%>
   </font> </center>
  </p>

  <h2><center><%= link_to 'Back', author_articles_path %></center></h2></body>
<% end %>

  

