<style type="text/css">
  b
  table
   { font-size: 24px; }
</style>
<body>
  <center>
	<h1><font size="20">Search results</font></h1>
	<table border="5" cellpadding="15" font-size="20">
		<tr>
			<td><strong>Title</strong></td>
			<td><strong>Text</strong></td>
		</tr>
<% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td> 
      <td><%= article.text %></td>
      <td><%= link_to 'Show', author_article_path(article.author,article) %></td>
      <td><%= link_to 'Edit', edit_author_article_path(article.author,article) %></td>
       <td><%= link_to 'Delete', author_articles_path(article.author,article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </table>
  <br>
  <h2><center><%= link_to 'Back', author_articles_path(@articles) %></center></h2></body>
</center>
