<html>
<style type="text/css">
  body
  {background-image: url("https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  }
  table
   { font-size: 24px; }
</style>
<body>
<center>
<table cellpadding="15" border="5" font-size="20">
  <tr>
  	<td><strong>Title:</strong></td>
	<td><%= @article.title %></td>
</tr>
 
 
<tr>
  <td><strong>Text:</strong></td>
  <td><%= @article.text %></td>
</tr>

<h2>Add an author:</h2>
<%= form_with(model: [ @article, @article.authors.build ], local: true) do |form| %>
  <p>
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

</table>
<br>
<h2><%= link_to 'Edit', edit_author_article_path(@article) %></h2>
<h2><%= link_to 'Display Table', author_articles_path(@article) %></h2>

</center>
</body>
</html>
