<html>
<style type="text/css">
  
  table
   { font-size: 20px; }
</style>
<body>
<center>
<table cellpadding="15" border="2" font-size="20">
  <tr>
  	<td width="300";><strong>Title:</strong></td>
	<td width="300";><%= @article.title %></td>
</tr>
 
 
<tr>
  <td><strong>Text:</strong></td>
  <td><%= @article.text %></td>
</tr>

<tr>
  <td><strong>Author:</strong></td>
  <td><%= @author.author_name %></td>
</tr>

</table>
<br>
<h3><%= link_to 'Edit', edit_author_article_path(@article) %></h3>
<h3><%= link_to 'Display Table', author_articles_path(@article) %></h3>

</center>
</body>
</html>
