<style type="text/css">
  body
  {background-image: url("https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>
<body>
  <center><font size="20">New Author</font></center>
<%= form_with(model: @author, local: true) do |form| %>

<% if @author.errors.any? %>
    <div id="error_explanation">
      <center>
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      
      
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      
    
      </center>
    </div>
  <% end %>

  <p><center><font>
    <%= form.label :author_name %><br>
    <%= form.text_area :author_name %>
    </font></center>
  </p>
 

  <p><center><font>
    <%= form.submit :style => 'padding-top: 14px'%>
   </font> </center>
  </p>

  <center><%= link_to 'Back', authors_path %></center></body>
<% end %>
