<style type="text/css">
  
</style>
<body>
  <center><font size="20">New Author</font></center>
<%= form_with(model: @author, local: true) do |form| %>

<% if @author.errors.any? %>
    <div id="error_explanation">
      <center>
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      
      
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      
    
      </center>
    </div>
  <% end %>

  <p><center><font size="6">
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name %>
    </font></center>
  </p>
 

  <p><center><font>
    <%= form.submit :style => 'padding-top: 14px'%>
   </font> </center>
  </p>

  <center><h2><%= link_to 'Back', authors_path %></h2></center></body>
<% end %>
