<html>
<style type="text/css">
  
   table
   { font-size: 20px;
     }

</style>
<body>
<center>
<table cellpadding="15" border="2" font-size="20">
  <tr>
  	<td width="300";><strong>Author:</strong></td>
	<td width="300";><%= @author.author_name %></td>
</tr>
</table>
<br>
 <% @articles.each.with_index(1) do |article,idx|%>
 <table cellpadding="15" border="2" font-size="20">
<tr>
    <td width="300";><strong>Article:</strong></td>
    <td width="300";><%= idx %></td>
 </tr>   
 <td><strong>Title:</strong></td>
  <td><%= article.title %></td>
</tr>
<tr>
  <td><strong>Text:</strong></td>
  <td><%= article.text %></td>
</tr>
  </table><br>
  <%end%>
</tr>
 

</table>
<br>

<h3><%= link_to '<button type="button">Display Authors Table</button>'.html_safe, authors_path(@author) %></h3>

</center>
</body>
</html>
