<html>
<head>
    <title> Sample Sign up App</title>
    <script></script>
    <style type="text/css">
      nav {
    margin: 0;
    /* width: 1980px; */
    height: 45px;
    left: 0;
    .border: ;
    width: 100%;
    right: 0;
    padding: 0;
    .shadow: ;
    background-color: #000 !important;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
  right: 150px !important;
  position: relative;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 32px;
  height: auto;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none !important;
  color: #fff;
  display: block;
}

 .nav2 li{
font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 32px;
  height: auto;
  border-bottom: 1px solid #888;
 }

 .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: lightgray !important;
}
.nav-pills > li > a {
    border-radius: 0px !important;
}
.nav li{
  line-height: 27px !important;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 45px;
}

.sidebar {
  height: 88.5%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  bottom: 96px;
  background-color: darkgreen;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.dropdown-btn:hover {
  color: #f1f1f1;
}


/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
    </style>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="sign up form css.css">-->
    <script type="text/javascript">
      var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
    </script>
</head>
<body>

<nav class="nav navbar-left">
  <nav class="navbar navbar-default" role="navigation" aria-expanded="false">
  <div class="nav">
    <ul class="nav nav-pills">
        
        <li role="presentation"><%= link_to 'Logout', destroy_author_session_path, method: :delete %></li>
        <li role ="presentation"><a href="http://localhost:3000/authors/edit"><%= current_author.email %></a></li>
      </ul>
  </div>
 </nav>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar">
  <a href="http://localhost:3000"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#services"><i class="fa fa-fw fa-user"></i> About</a>
  <button class="dropdown-btn">My Articles
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <%= link_to 'Show', author_path(current_author) %>
    <%= link_to 'Edit Author', edit_author_path(current_author) %>
    <%= link_to 'Delete Author', author_path(current_author),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </div>
  
  <%= link_to 'All Articles', author_articles_path(current_author) %>
</div>  

<div class="footer">
  
</div>





</body>
</html>
