<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if author_signed_in? %>
    <%= render partial: "shared/navbar2" %>
    <% else %>
     <%= render partial: "shared/navbar" %>
     <% end %>
    <div style="white-space: pre"> 
    
   
  </div>
    <%= yield %>
  </body>
</html>
